<div id="<%= dom_id episode %>" style="margin-top:20em">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>File:</strong>
    <% # <%= audio_tag(url_for(episode.file), controls: true) %>
    <%= content_tag(:div, "", data: {
                                        controller: "podcast",
                                        podcast_title: episode.title,
                                        podcast_url: url_for(episode.file),
                                      #  podcast_chapters: episode.chapters.map do |chapter|
                                      #    {
                                      #      title: chapter.title,
                                      #      startTime: chapter.start,
                                      #      endTime: chapter.end,
                                      #    }
                                      #  end,
                                      }) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

</div>
